body {
    background-color: pink;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}
h1 {
    color: purple;
    font-size: x-large;
    font-weight: 200;
}
p {
    color:crimson;
    font-style: italic;
    font-size: medium;
}